*un~
*~
.dep/
*.swp
*.o
*.elf
*.eep
*.hex
*.lss
*.map
*.sym
obj/
CMakeCache.txt
CMakeFiles/
boards/control_module/software/Makefile
boards/control_module/software/resources
Pinball
cmake_install.cmake
